.button {
  background-color: #d3b288;
  color: white;
  border-radius: 5px;
  transition: 0.3s all;
  cursor: pointer;
}

.button--white {
  color: white;
}

.button:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.appointment__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 36;
  padding: 8px 15px 8px 15px;
  font-size: 14px;
}

.headline__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 236px;
  height: 42px;
  font-size: 16px;
  font-weight: 300;
}
